.boton-palabra-full {
    float: left;
    /* margin-left: 10%; */
    margin-bottom: 1%;
    width: 100%;
    height: fit-content;
    font-size: 24px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #daa520;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.boton-palabra-fit-content {
    float: left;
    /* margin-left: 10%; */
    margin-bottom: 1%;
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #daa520;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.boton-palabra-full:hover {
    cursor: pointer;
    border-color: #55a2fe;
}
.boton-palabra-full:hover svg {
    fill: #55a2fe;
}

.boton-palabra-fit-content:hover {
    cursor: pointer;
    border-color: #55a2fe;
}
.boton-palabra-fit-content:hover svg {
    fill: #55a2fe;
}

#u06-palabra-1:hover span{
    display: none;
}

#u06-palabra-1:hover:before{
    content: "Artista";
}

#u06-palabra-2:hover span{
    display: none;
}

#u06-palabra-2:hover:before{
    content: "Taxista";
}

#u06-palabra-3:hover span{
    display: none;
}

#u06-palabra-3:hover:before{
    content: "Carpintero";
}

#u06-palabra-4:hover span{
    display: none;
}

#u06-palabra-4:hover:before{
    content: "Jardinero";
}

#u06-palabra-5:hover span{
    display: none;
}

#u06-palabra-5:hover:before{
    content: "Oficial de policía";
}

#u06-palabra-6:hover span{
    display: none;
}

#u06-palabra-6:hover:before{
    content: "Maestro, a";
}

#u06-palabra-7:hover span{
    display: none;
}

#u06-palabra-7:hover:before{
    content: "Dibujar/Pintar";
}

#u06-palabra-8:hover span{
    display: none;
}

#u06-palabra-8:hover:before{
    content: "Manejar un taxi";
}

#u06-palabra-9:hover span{
    display: none;
}

#u06-palabra-9:hover:before{
    content: "Construir";
}

#u06-palabra-10:hover span{
    display: none;
}

#u06-palabra-10:hover:before{
    content: "Plantar";
}

#u06-palabra-11:hover span{
    display: none;
}

#u06-palabra-11:hover:before{
    content: "Proteger";
}

#u06-palabra-12:hover span{
    display: none;
}

#u06-palabra-12:hover:before{
    content: "Enseñar";
}