.boton-palabra {
    float: left;
    /* margin-left: 10%; */
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 220px;
    height: fit-content;
    font-size: 24px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #daa520;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.boton-palabra-fit-content {
    float: left;
    /* margin-left: 10%; */
    margin-bottom: 1%;
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #daa520;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.boton-palabra:hover {
    cursor: pointer;
    border-color: #55a2fe;
}
.boton-palabra:hover svg {
    fill: #55a2fe;
}

.boton-palabra-fit-content:hover {
    cursor: pointer;
    border-color: #55a2fe;
}
.boton-palabra-fit-content:hover svg {
    fill: #55a2fe;
}

#boton-palabra-delicious:hover span{
    display: none;
}

#boton-palabra-delicious:hover:before{
    content: "Delicioso";
}


#boton-palabra-tender:hover span{
    display: none;
}

#boton-palabra-tender:hover:before{
    content: "Tierno, Blando";
}


#boton-palabra-crunchy:hover span{
    display: none;
}

#boton-palabra-crunchy:hover:before{
    content: "Crujiente";
}


#boton-palabra-aromatic:hover span{
    display: none;
}

#boton-palabra-aromatic:hover:before{
    content: "Aromático";
}


#boton-palabra-tasty:hover span{
    display: none;
}

#boton-palabra-tasty:hover:before{
    content: "Sabroso";
}


#boton-palabra-sour:hover span{
    display: none;
}

#boton-palabra-sour:hover:before{
    content: "Agrio, ácido";
}


#boton-palabra-cold:hover span{
    display: none;
}

#boton-palabra-cold:hover:before{
    content: "Fría";
}


#boton-palabra-sticky:hover span{
    display: none;
}

#boton-palabra-sticky:hover:before{
    content: "Pegajoso";
}


#boton-palabra-spicy:hover span{
    display: none;
}

#boton-palabra-spicy:hover:before{
    content: "Condimentada";
}


#boton-palabra-hot:hover span{
    display: none;
}

#boton-palabra-hot:hover:before{
    content: "Caliente";
}


#boton-palabra-soft:hover span{
    display: none;
}

#boton-palabra-soft:hover:before{
    content: "Suave";
}


#boton-palabra-salty:hover span{
    display: none;
}

#boton-palabra-salty:hover:before{
    content: "Salado";
}


#boton-palabra-sweet:hover span{
    display: none;
}

#boton-palabra-sweet:hover:before{
    content: "Dulce";
}


#boton-palabra-bitter:hover span{
    display: none;
}

#boton-palabra-bitter:hover:before{
    content: "Amargo";
}


#boton-palabra-warm:hover span{
    display: none;
}

#boton-palabra-warm:hover:before{
    content: "Calientita, tibia";
}