.boton-palabra-full {
    float: left;
    /* margin-left: 10%; */
    margin-bottom: 1%;
    width: 100%;
    height: fit-content;
    font-size: 24px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #daa520;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.boton-palabra-fit-content {
    float: left;
    /* margin-left: 10%; */
    margin-bottom: 1%;
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #daa520;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.boton-palabra-full:hover {
    cursor: pointer;
    border-color: #55a2fe;
}
.boton-palabra-full:hover svg {
    fill: #55a2fe;
}

.boton-palabra-fit-content:hover {
    cursor: pointer;
    border-color: #55a2fe;
}
.boton-palabra-fit-content:hover svg {
    fill: #55a2fe;
}

#u05-palabra-1:hover span{
    display: none;
}

#u05-palabra-1:hover:before{
    content: "Sacapuntas";
}

#u05-palabra-2:hover span{
    display: none;
}

#u05-palabra-2:hover:before{
    content: "Formulario";
}

#u05-palabra-3:hover span{
    display: none;
}

#u05-palabra-3:hover:before{
    content: "Vacuna";
}

#u05-palabra-4:hover span{
    display: none;
}

#u05-palabra-4:hover:before{
    content: "Vecindario";
}

#u05-palabra-5:hover span{
    display: none;
}

#u05-palabra-5:hover:before{
    content: "Materia";
}

#u05-palabra-6:hover span{
    display: none;
}

#u05-palabra-6:hover:before{
    content: "Inyecciones";
}

#u05-palabra-7:hover span{
    display: none;
}

#u05-palabra-7:hover:before{
    content: "Recibo de teléfono";
}

#u05-palabra-8:hover span{
    display: none;
}

#u05-palabra-8:hover:before{
    content: "Amigo, a";
}

#u05-palabra-9:hover span{
    display: none;
}

#u05-palabra-9:hover:before{
    content: "Tengo un problema";
}

#u05-palabra-10:hover span{
    display: none;
}

#u05-palabra-10:hover:before{
    content: "Tengo una pregunta";
}

#u05-palabra-11:hover span{
    display: none;
}

#u05-palabra-11:hover:before{
    content: "Hacer una fila";
}

#u05-palabra-12:hover span{
    display: none;
}

#u05-palabra-12:hover:before{
    content: "De nada";
}

#u05-palabra-13:hover span{
    display: none;
}

#u05-palabra-13:hover:before{
    content: "Gracias";
}

#u05-palabra-14:hover span{
    display: none;
}

#u05-palabra-14:hover:before{
    content: "Ciencias sociales";
}

#u05-palabra-15:hover span{
    display: none;
}

#u05-palabra-15:hover:before{
    content: "Shots";
}

#u05-palabra-16:hover span{
    display: none;
}

#u05-palabra-16:hover:before{
    content: "I have a question";
}

#u05-palabra-17:hover span{
    display: none;
}

#u05-palabra-17:hover:before{
    content: "Friend";
}

#u05-palabra-18:hover span{
    display: none;
}

#u05-palabra-18:hover:before{
    content: "Line up";
}

#u05-palabra-19:hover span{
    display: none;
}

#u05-palabra-19:hover:before{
    content: "You're welcome";
}

#u05-palabra-20:hover span{
    display: none;
}

#u05-palabra-20:hover:before{
    content: "Neighborhood";
}

#u05-palabra-21:hover span{
    display: none;
}

#u05-palabra-21:hover:before{
    content: "Subject";
}

#u05-palabra-22:hover span{
    display: none;
}

#u05-palabra-22:hover:before{
    content: "Pencil sharpener";
}

#u05-palabra-23:hover span{
    display: none;
}

#u05-palabra-23:hover:before{
    content: "Form";
}

#u05-palabra-24:hover span{
    display: none;
}

#u05-palabra-24:hover:before{
    content: "Immunization";
}

#u05-palabra-25:hover span{
    display: none;
}

#u05-palabra-25:hover:before{
    content: "I have a problem";
}

#u05-palabra-26:hover span{
    display: none;
}

#u05-palabra-26:hover:before{
    content: "Telephone bill";
}

#u05-palabra-27:hover span{
    display: none;
}

#u05-palabra-27:hover:before{
    content: "Social studies";
}

#u05-palabra-28:hover span{
    display: none;
}

#u05-palabra-28:hover:before{
    content: "Thank you";
}