.boton-palabra{
    float: left;
    /* margin-left: 10%; */
    margin-bottom: 1%;
    width: 100%;
    height: fit-content;
    font-size: 24px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #daa520;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.boton-palabra:hover{
    cursor: pointer;
    border-color: #55a2fe;
}
.boton-palabra:hover svg {
    fill: #55a2fe;
}

#texto-boton-encima{
    margin-bottom: 50px;
}


#boton-palabra-1:hover span{
    display: none;
}

#boton-palabra-1:hover:before{
    content: "Tengo dinero. Puedo comprar un libro.";
}

#boton-palabra-2:hover span{
    display: none;
}

#boton-palabra-2:hover:before{
    content: "Tenemos tiempo. Podemos ir al cine.";
}

#boton-palabra-3:hover span{
    display: none;
}

#boton-palabra-3:hover:before{
    content: "Michael es fuerte. Él puede levantar una mesa.";
}

#boton-palabra-4:hover span{
    display: none;
}

#boton-palabra-4:hover:before{
    content: "Ella puede hablar con la nueva estudiante española.";
}

#boton-palabra-5:hover span{
    display: none;
}

#boton-palabra-5:hover:before{
    content: "No puedo hablar japonés.";
}

#boton-palabra-6:hover span{
    display: none;
}

#boton-palabra-6:hover:before{
    content: "No puedo ir al cine hoy.";
}

#boton-palabra-7:hover span{
    display: none;
}

#boton-palabra-7:hover:before{
    content: "Tom dijo que él podía montar una bicicleta cuando era joven.";
}

#boton-palabra-8:hover span{
    display: none;
}

#boton-palabra-8:hover:before{
    content: "Podía tocar el violín hace diez años.";
}

#boton-palabra-9:hover span{
    display: none;
}

#boton-palabra-9:hover:before{
    content: "¿Podrías abrir la puerta por mí?";
}

#boton-palabra-10:hover span{
    display: none;
}

#boton-palabra-10:hover:before{
    content: "¿Me podrías decir qué hora es?";
}